@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-openSans bg-white;
  }
  p {
    @apply text-darkGray text-base;
  }
  h1 {
    @apply text-[40px] sm:text-[50px] md:text-[60px] lg:text-[70px] font-extrabold text-navyCs;
  }
  h2 {
    @apply text-[28px] sm:text-[34px] md:text-[40px] lg:text-[50px] font-extrabold text-navyCs;
  }
  h3 {
    @apply text-[28px] sm:text-[34px] md:text-[36px] lg:text-[40px] font-extrabold text-navyCs;
  }
  h4 {
    @apply text-[35px] font-extrabold text-navyCs;
  }
  h5 {
    @apply text-[30px] font-extrabold text-navyCs;
  }
  h6 {
    @apply text-[18px] sm:text-[20px] md:text-[22px] lg:text-[24px] font-extrabold text-navyCs;
  }
}

/* navbar  nav active*/
.nav-border::after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  top: 5px;
  background: transparent;
  transition: all 0.3s;
}
.nav-border:hover::before {
  width: 100%;
  background: blue;
}
/* hero section style */
.hero::before {
  position: absolute;
  content: "";
  background-color: rgb(9, 38, 45);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: -1;
}

/* login component */
.shape-log::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  content: "";
  border-right: calc(50vw) solid transparent;
  border-bottom: calc(100vh - 80px) solid #7eb693;
  z-index: -1;
}
.shape-reg::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  content: "";
  border-right: calc(50vw) solid transparent;
  border-bottom: calc(100vh - 80px) solid #caaf4d;
  z-index: -1;
}

/* testimonial component
 */
.testimonial-bg::before,
.testimonial-bg::after {
  position: absolute;
  height: 100%;
  width: 20%;
  z-index: -1;
  content: "";
  background-color: transparent;
  background-image: url(./assets/testimonial.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonial-bg::before {
  top: 0;
  left: 0;
}
.testimonial-bg::after {
  right: 0;
  top: 0;
  transform: rotate(180deg);
}

.quote {
  position: relative;
}
.quote:before {
  position: absolute;
  top: -6px;
  left: -15px;
  content: "";
  background-image: url(./assets/quote-right.png);
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  font-size: 22px;
  opacity: 0.1;
}
.quote::after {
  position: absolute;
  top: -6px;
  right: -15px;
  content: "";
  background-image: url(./assets/quote-right.png);
  height: 30px;
  width: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 22px;
  opacity: 0.1;
}

/* who we component */
.who-we-bg::before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  content: "";
  background-color: lightgray;
  background-image: url(./assets/green-field.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

/* dashboard custom styles  */
/* dashboard message  */
.message:after {
  position: absolute;
  top: 0;
  right: -25px;
  content: "";
  border-bottom: 56.4px solid #fff;
  border-left: 35px solid transparent;
  background-color: #274c5b;
}
/* users image  */
.alt-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* Example styling */
  font-size: 14px;
  background-color: transparent;
  text-align: center;
  font-weight: 600;
  line-height: 16px;
  padding: 5px;
  border-radius: 3px;
}
